{% extends 'master/master.html' %}

{% block content %}
    <div class="composer">
        <!-- Playground -->
        <div class="playground m-scrollbar">
            <!-- Step 1: Type -->
            <button class="accordion" id="step1">Step 1: Project type</button>
            <div class="panel" id="a1">
                <div class="help-text">
                    Select the type of object you would like to compose.
                </div>

                <div class="switch width-100 mt2" id="type">
                    <button class="no-defaults" id="email">Email</button>
                    <button class="no-defaults" id="poster">Poster</button>
                </div>
                <div class="error-text mt2 display-none text-align-center" id="missing_type">
                    Please select a project type.
                </div>
            </div>

            <!-- Step 2: Workflows -->
            <button class="accordion" id="step2">Step 2: Workflow</button>
            <div class="panel">
                <div class="help-text">
                    Pick the most-appropriate purpose. You'll be able to change this later.
                </div>

                <div id="workflow_choices" class="flex-choices">
                </div>

                <div class="error-text mt2 display-none text-align-center" id="missing_workflow">
                    Please select a workflow before composing.
                </div>
            </div>

            <!-- Step 3: Basic Details -->
            <button class="accordion" id="step3">Step 3: Basic project details</button>
            <div class="panel">
                <div class="panel-content">
                    <div class="form-input">
                        <label for="project_title">Title</label>
                        <input id="project_title" type="text" maxlength="156" />
                        <div class="error-text display-none" id="missing_title">
                            A title is needed.
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="project_description">Description</label>
                        <textarea id="project_description"></textarea>
                        <div class="error-text display-none" id="missing_description">
                            A description (even a short one) is needed.
                        </div>
                    </div>
                    <button class="form-submit mb2" id="compose">
                        Compose!
                    </button>
                </div>
            </div>

            <!-- Step 4: Compose -->
            <button class="accordion with-image" id="step4">
                <span>Step 4: Compose</span>
                <span class="inline-image">
                    <img id="compose_spinner" src="{{ url_for('static', filename='icons/spinner.gif') }}" alt="working" class="display-none" height="17px" />
                </span>
            </button>
            <div class="panel">
                <div class="display-none area-form" id="text_area_form">
                    <div class="form-input">
                        <label for="text_content">
                            Content
                        </label>
                        <textarea id="text_content"></textarea>
                    </div>
                    <ul class="content-suggestions" id="content_suggestions">
                        <li>Suggest 1</li>
                        <li>Suggest 2</li>
                        <li>Suggest 3</li>
                        <li>Suggest 4</li>
                    </ul>
                    <div class="form-row">
                        <div class="form-input">
                            <label for="text_size">
                                Font size (px)
                            </label>
                            <input id="text_size" type="number" min="0" />
                        </div>
                        <div class="form-input">
                            <label for="text_weight">
                                Font weight
                            </label>
                            <input id="text_weight" type="number" min="0" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <label for="text_background">
                                Background color
                            </label>
                            <input id="text_background" type="text" maxlength="20" class="short" />
                        </div>

                        <div class="form-input">
                            <label for="text_color">
                                Text color
                            </label>
                            <input id="text_color" type="text" maxlength="20" class="short" />
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="text_rotation">
                            Transform (rotation)
                        </label>
                        <input id="text_rotation" type="text" maxlength="100" />
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <label for="text_width">
                                Width (px)
                            </label>
                            <input id="text_width" type="number" />
                        </div>
                        <div class="form-input">
                            <label for="text_height">
                                Height (px)
                            </label>
                            <input id="text_height" type="number" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <label for="text_align">
                                Text align (left, center, right)
                            </label>
                            <select id="text_align">
                                <option value="left">Left</option>
                                <option value="center">Center</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="display-none area-form" id="image_area_form">
                    <div class="form-input">
                        <label for="image_content">
                            Image source
                        </label>
                        <input id="image_content" type="text" maxlength="512" />
                    </div>
                    <div class="form-input">
                        <label for="image_rotation">
                            Transform (rotation)
                        </label>
                        <input id="image_rotation" type="text" maxlength="100" />
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <label for="image_width">
                                Width (px)
                            </label>
                            <input id="image_width" type="number" />
                        </div>
                        <div class="form-input">
                            <label for="image_height">
                                Height (px)
                            </label>
                            <input id="image_height" type="number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Canvas -->
        <div class="canvas m-scrollbar">
            <div id="canvas_area" class="canvas-area">

            </div>
        </div>

        <!-- Tools -->
        <div class="tools m-scrollbar">
            <div id="tools_area" class="tools-area">
                <!-- Page setup (size, color, gradients, etc.) -->
                <div class="heading">
                    Page
                </div>
                <button class="no-defaults" id="tool_background">
                    <img draggable="false" src="{{ url_for('static', filename='icons/background.svg') }}" width="40px" height="40px" alt="background" />
                    <span class="description">
                        Background
                    </span>
                </button>

                <!-- Content (draggable) -->
                <div class="heading">
                    Content
                </div>
                <button draggable="true" class="no-defaults drag-tool" id="tool_text">
                    <img draggable="false" src="{{ url_for('static', filename='icons/text.svg') }}" width="40px" height="40px" alt="text" />
                    <span class="description">
                        Text
                    </span>
                </button>
                <button draggable="true" class="no-defaults drag-tool" id="tool_image">
                    <img draggable="false" src="{{ url_for('static', filename='icons/image.svg') }}" width="40px" height="40px" alt="image" />
                    <span class="description">
                        Image
                    </span>
                </button>
            </div>
            <div class="tools-menu">
                <button id="edit_doc" class="no-defaults">
                    <img src="{{ url_for('static', filename='icons/edit_document.svg') }}" width="24px" height="24px" alt="edit document" />
                </button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block head %}
    <style>
        /* Stuff that can be main.css */
        header {
            border-bottom: 1px solid gray;
            z-index: 2;
        }

        .accordion {
            font-size: 16px;
            line-height: 20px;
            padding: 18px 14px;
            width: 100%;

            text-align: left;

            border-top: 1px solid #ababab;
            border-bottom: none;
            border-left: none;
            border-right: none;
            outline: none;
            background: none;
            text-decoration: none;
            transition: 0.4s;
        }

        .accordion:hover {
            background-color: #cccccc;
        }

        .accordion:after {
            content: '\02795';
            font-size: 13px;
            color: #777777;
            float: right;
            margin-left: 5px;
        }

        .accordion.active:after {
            content: '\2796';
        }

        .panel {
            background-color: white;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.2s ease-out;

            padding: 0;
        }

        .panel > .error-text {
            font-size: 14px;
            line-height: 18px;
            margin-left: 14px;
        }

        .switch {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .switch > button {
            font-size: 14px;
            line-height: 18px;
            padding: 10px 14px;
            flex-grow: 1;
            max-width: 140px;

            border: 1px solid gray;
        }

        .switch > button:hover {
            border: 1px solid #71365b;
            background: #efefef;
        }

        .switch > button.selected {
            background: #71365b;
            color: #efefef
        }

        /* Composer specific stuff */

        .composer {
            width: 100vw;
            height: calc(100vh - 49px);
            background: #dcdcdc;

            display: flex;
            flex-direction: row;

        }

        .canvas {
            flex-grow: 1;
            height: 100%;
            background-color: #232323;

            overflow-y: auto;
            overflow-x: auto;
        }

        .playground {
            width: 420px;
            height: 100%;
            background-color: #fdfdfd;
            overflow: hidden;
        }

        .playground .panel {
            width: 100%;
        }

        .tools {
            min-width: 57px;
            height: 100%;
            display: flex;
        }

        .tools-area {
            width: 0;

            transition: width 0.5s ease;

            background-color: #fdfdfd;
        }

        .tools-area.open {
            width: 223px;
        }

        .tools-menu {
            width: 57px;
            background: #fafafa;
            height: 100%;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
        }

        .tools-menu > button {
            width: 57px;
            height: 57px;
            border-bottom: 2px solid #fafafa;
        }

        .tools-menu > button:hover {
            border-bottom: 2px solid #71356b;
            background: #efefef;
        }

        .tools-menu > button.selected {
            border-bottom: 2px solid #71356b;
            background: #71356b80;
        }

        .tools-menu > button > img {
            margin: auto;
        }

        .tools-area > button {
            width: 80px;
            height: 80px;
            margin: 30px auto;

            border: 1px solid gray;
            border-radius: 3px;

            display: none;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            gap: 8px;
        }

        .tools-area.open > button {
            display: flex;
        }

        .tools-area > button:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .tools-area > .heading {
            font-size: 16px;
            padding: 20px;
            display: none;
        }

        .tools-area.open > .heading {
            display: block;
        }

        .tools-area .description {
            font-size: 14px;
            line-height: 18px;
            color: #232323;
        }

        .panel > .help-text {
            padding: 0 14px;
            font-size: 14px;
            line-height: 18px;
        }

        .flex-choices {
            display: flex;
            align-content: flex-start;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
        }

        .flex-choices > button {
            font-size: 14px;
            line-height: 16px;
            padding: 10px 14px;
            outline: 1px solid gray;
        }

        .flex-choices > button:hover {
            background: #71356b20;
        }

        .flex-choices > button.selected {
            background: #71356b;
            color: white;
            outline: 1px solid #71356b;
        }

        .flex-choices {
            margin: 10px 14px;
        }

        .panel-content {
            padding: 0 14px;
        }

        .form-input {
            display: flex;
            flex-direction: column;
            align-content: start;
            align-items: start;

            margin-bottom: 16px;
        }

        .form-input > input:focus, .form-input > textarea:focus {
            border: 1px solid #71356b;
            outline: none;
        }

        .form-input > label {
            font-size: 14px;
            line-height: 18px;
        }

        .form-input > input, .form-input > textarea {
            border: 1px solid #71356b80;
            width: 280px;
            font-size: 14px;
            line-height: 18px;
        }

        .form-input > input.short {
            width: 140px;
        }

        .form-input > textarea {
            height: 86px;
        }

        .form-input > .error-text {
            font-size: 14px;
            line-height: 18px;
        }

        .form-submit {
            background: #71356b;
            color: #fefefe;

            font-size: 14px;
            line-height: 18px;

            padding: 10px 14px;

            border: none;
        }

        .form-submit:hover {
            background: #5b6f6e;
        }

        .inline-image {
            margin-left: 10px;
        }

        .inline-image > img {
            margin-bottom: -2px;
        }

        .canvas-area {
            width: 0;
            height: 0;
            margin: 40px auto;
            background-image: linear-gradient(#ffdda4, #ffbe72);
            position: relative;
        }

        .canvas-area > div, .canvas-area > img {
            position: absolute;
        }

        .canvas-area > div:hover, .canvas-area > img:hover {
            outline: 1px dotted #555555;
        }

        .area-form {
            padding-left: 14px;
        }

        .form-input > input[type="number"] {
            width: 100px;
        }

        .form-row {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-content: flex-start;
        }

        .content-suggestions {
            margin-top: 20px;
            list-style: none;
            text-decoration: none;
            padding-left: 0;
            margin-left: 0;
            max-height: 240px;
            overflow-y: auto;
        }

        .content-suggestions > li {
            margin-right: 14px;
            padding: 14px 18px;
            font-size: 14px;
            line-height: 18px;
            background-color: #71356b;
            color: #efefef;
            margin-bottom: 6px;
            cursor: pointer;
        }

        .image-container {
            object-fit: contain;
        }
    </style>
{% endblock head %}

{% block foot %}
    <script>
        let POSTER_WIDTH = 570;
        let POSTER_HEIGHT = 880;
        let EMAIL_WIDTH = 570;

        /* Tools panel */
        let editDoc = $('#edit_doc');
        let toolsArea = $('#tools_area');
        editDoc.on('click', function() {
            if (editDoc.hasClass('selected')) {
                editDoc.removeClass('selected');
                toolsArea.removeClass('open');
            } else {
                editDoc.addClass('selected');
                toolsArea.addClass('open');
            }
        });

        let repr = {
            'id': 'abc123',
        }

        /* Accordion */
        let step1 = $('#step1');
        let step2 = $('#step2');
        let step3 = $('#step3');
        let step4 = $('#step4');


        $('.accordion').on('click', function() {
            $(this).toggleClass('active');
            let panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                panel.style.padding = 0;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
                panel.style.padding = '20px 0';
            }
        });

        /* On page load */

        $(function() {
            step1.click();
        });

        /* Type */
        let TYPE_EMAIL = 'email';
        let TYPE_POSTER = 'poster';
        let missingType = $('#missing_type');


        $('.switch#type > button').on('click', function() {
            $(this).addClass('selected').siblings().removeClass('selected');
            changeType(this.id);
        })

        function changeType(type) {
            // We just added a new type, go to the next section
            let showNextSection = !('type' in repr);
            repr['type'] = type;

            setupWorkflowChoices(type);

            if (showNextSection) {
                if (!step2.hasClass('active')) {
                    step2.click();
                }
            }
        }

        /* Compose defs - logic comes later */
        let compose = $('#compose');
        let projectTitle = $('#project_title');
        let projectDescription = $('#project_description');
        let missingTitle = $('#missing_title');
        let missingDescription = $('#missing_description');

        /* Workflow */
        let EMAIL_WORKFLOWS = [
            'Event',
            'Contest',
            'Sales (cold emails)',
            'Product/Feature',
            'Sale',
            'Wedding Invite'
        ];
        let POSTER_WORKFLOWS = [
            'Event',
            'Business',
            'Product',
            'Contest',
            'Menu',
            'Wedding'
        ];

        let EMAIL_EXAMPLES = [
            'An in-person conference on Dermatology for healthcare providers over 2 days. Early bird discounts on tickets.',
            'An ai powered virtual hackathon, open to anyone in the world, large cash prizes. The theme is AI powered.',
            'Koel can empower your sales and marketing team with AI powered emails and posters.',
            'Introducing Koel talk, a voice powered assistant for the Amazon android application. With it you can listen to music, watch tv, and shop while on the move completely handsfree.',
            'Limited time online black friday sale featuring 2 products with huge discounts.',
            'A destination wedding invitation for Viraj & Parav.',
        ]
        let POSTER_EXAMPLES = [
            'An in-person conference on Dermatology for healthcare providers over 2 days. Early bird discounts on tickets.',
            'Grand opening of a local sandwich restaurant. Early birds eat for free.',
            'Koel, the ultimate assistant for composing emails, and posters. Get started for free.',
            'An ai powered virtual hackathon, open to anyone in the world, large cash prizes. The theme is AI powered.',
            'Menu for a fast food restaurant including a section for a kids menu.',
            'A destination wedding announcement for Viraj & Parav.',
        ]

        let workflowChoices = $('#workflow_choices');
        let currentWorkflowType = null;

        let missingWorkflow = $('#missing_workflow');

        function setupWorkflowChoices(type) {
            if (currentWorkflowType === type) {
                // Do nothing, the type is the same
                return;
            }
            currentWorkflowType = type;

            let choiceOptions;
            if (type === TYPE_EMAIL) {
                choiceOptions = EMAIL_WORKFLOWS;
            } else {
                choiceOptions = POSTER_WORKFLOWS;
            }

            // Setting the choices

            workflowChoices.empty();

            choiceOptions.forEach(function (choice, index) {
                workflowChoices.append($('<button>', {
                    id: 'workflow_' + index,
                    'class': 'no-defaults',
                    'text': choice
                }));
            });
        }

        workflowChoices.on('click', 'button', function() {
            $(this).addClass('selected').siblings().removeClass('selected');

            let workflowIndex = '' + this.id.split('_').pop();
            changeWorkflow(parseInt(workflowIndex));
        });

        function changeWorkflow(workflowIndex) {
            // We just added a new workflow, auto open the next section
            let showNextSection = !('workflow' in repr);
            let hints;
            if (repr['type'] === TYPE_EMAIL) {
                repr['workflow'] = EMAIL_WORKFLOWS[workflowIndex];
                hints = EMAIL_EXAMPLES;
            } else {
                repr['workflow'] = POSTER_WORKFLOWS[workflowIndex];
                hints = POSTER_EXAMPLES;
            }

            // Updating step 3's hint text
            let hint;
            if (0 < workflowIndex <= hints.length) {
                hint = hints[workflowIndex];
            } else {
                hint = hints[0];
            }
            projectDescription.attr('placeholder', hint);

            if (showNextSection) {
                if (!step3.hasClass('active')) {
                    step3.click();
                }
            }
        }

        /* Compose */
        let composeSpinner = $('#compose_spinner');
        let canvasArea = $('#canvas_area');

        compose.on('click', function() {
            let mTitle = projectTitle.val();
            let mDescription = projectDescription.val();

            missingTitle.addClass('display-none');
            missingDescription.addClass('display-none');
            missingType.addClass('display-none');
            missingWorkflow.addClass('display-none');

            if (!('type' in repr)) {
                missingType.removeClass('display-none');
                // Bring attention to the class with the issue
                if (!step1.hasClass('active')) {
                    step1.click();
                } else {
                    step1.click();
                    step1.click();
                }
                return;
            }

            if (!('workflow' in repr)) {
                missingWorkflow.removeClass('display-none');
                if (!step2.hasClass('active')) {
                    step2.click();
                } else {
                    step2.click();
                    step2.click();
                }
                return;
            }

            if (!mTitle) {
                missingTitle.removeClass('display-none');
                return;
            }
            if (!mDescription) {
                missingDescription.removeClass('display-none');
                return;
            }

            repr['title'] = mTitle;
            repr['description'] = mDescription;

            // Close sections 1, 2, 3, and open section 4, show a spinner at section 4, show the tools
            if (step1.hasClass('active')) {
                step1.click();
            }
            if (step2.hasClass('active')) {
                step2.click();
            }
            if (step3.hasClass('active')) {
                step3.click();
            }

            if (!step4.hasClass('active')) {
                step4.click();
            }

            if (!editDoc.hasClass('selected')) {
                editDoc.click();
            }

            showSpinner();
            doInitialCompose();
            hideSpinner();
        });

        function showSpinner() {
            composeSpinner.removeClass('display-none');
        }

        function hideSpinner() {
            composeSpinner.addClass('display-none');
        }

        function doInitialCompose() {
            if (repr['type'] === TYPE_POSTER) {
                canvasArea.css({'width': POSTER_WIDTH + 'px', 'height': POSTER_HEIGHT + 'px'});
            } else {
                canvasArea.css({'width': EMAIL_WIDTH + 'px', 'height': '100%'});
            }
        }

        /* Handling page tools */
        // TODO: Handle background settings etc.

        /* Handling dragging */
        let elementIDCount = 0;

        // Spawn an element of the type of tool that is dropped onto the canvas
        // https://web.dev/drag-and-drop/#:~:text=To%20make%20an%20object%20draggable,any%20markup%20on%20your%20page.
        let draggableTools = document.querySelectorAll('.drag-tool');
        draggableTools.forEach(function (draggableTool) {
            draggableTool.addEventListener('dragstart', handleDragStart);
            draggableTool.addEventListener('dragend', handleDragEnd);
        });

        function handleDragStart(e) {
        }

        function handleDragEnd(e) {
            elementIDCount += 1;
            let canvasOffset = canvasArea.offset()
            let mTop = e.y - canvasOffset['top'];
            let mLeft = e.x - canvasOffset['left'];

            if (e.target.id === 'tool_text') {
                /* Append a draggable text element at this position */
                let mTextArea = $('<div>', {
                    'id': 'eid_' + elementIDCount,
                    'style': 'top: ' + mTop + 'px; left: ' + mLeft + 'px; padding: 20px;',
                    'text': 'New text area ' + elementIDCount,
                    'class': 'text-container'
                });
                canvasArea.append(mTextArea);
                mTextArea.draggable({
                    containment: '#canvas_area',
                    scroll: false
                });
                mTextArea.click();
            }

            if (e.target.id === 'tool_image') {
                /* Append a draggable image element at this position */
                let mImageArea = $('<img />', {
                    'id': 'eid_' + elementIDCount,
                    'style': 'top: ' + mTop + 'px; left: ' + mLeft + 'px;',
                    'class': 'image-container',
                    'width': '100px',
                    'height': '100px',
                    'src': 'https://storage.googleapis.com/random-public-assets/koel-composer/image_placeholder_color.svg'
                });
                canvasArea.append(mImageArea);
                mImageArea.draggable({
                    containment: '#canvas_area',
                    scroll: false
                });
                mImageArea.click();
            }
        }

        let selectedContainer = null;

        // Form elements
        let textContent = $('#text_content');
        let textSize = $('#text_size');
        let textWeight = $('#text_weight');
        let textBackground = $('#text_background');
        let textRotation = $('#text_rotation');
        let textWidth = $('#text_width');
        let textHeight = $('#text_height');
        let textAlign = $('#text_align');
        let textColor = $('#text_color');

        canvasArea.on('click', '.text-container', function() {
            // Clicked a text container
            let thisElement = $(this);

            commonStuff(thisElement);

            $('#text_area_form').removeClass('display-none');
            toggleComposePanel();

            // Filling in with the current content
            textContent.val(thisElement.text());
            let cFontSize = thisElement.css('font-size');
            textSize.val(cFontSize.split('px')[0]);
            textWeight.val(thisElement.css('font-weight'));
            textBackground.val(thisElement.css('background-color'));
            textColor.val(thisElement.css('color'));
            textRotation.val(thisElement.css('transform'));
            textWidth.val(thisElement.css('width').split('px')[0]);
            textHeight.val(thisElement.css('height').split('px')[0]);
            textAlign.val(thisElement.css('text-align'));

            getContentSuggestions(thisElement);
        });

        function getContentSuggestions(thisElement) {
            // Getting content suggestions
            updateRepr();
            let selectedIndex = 0;
            repr['sections'].forEach(function(choice, index) {
                if (choice['id'] === thisElement.attr('id')) {
                    selectedIndex = index;
                }
            });
            repr['get_response'] = selectedIndex;

            // Getting options
            ajaxGetTextOptions(thisElement);
        }

        textContent.on('input', function() {
            if (selectedContainer) {
                selectedContainer.text(textContent.val());
            }
        });
        textSize.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('font-size', textSize.val() + 'px');
            }
        });
        textWeight.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('font-weight', textWeight.val());
            }
        });
        textBackground.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('background-color', textBackground.val());
            }
        });
        textColor.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('color', textColor.val());
            }
        });
        textRotation.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('transform', textRotation.val());
            }
        });
        textWidth.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('width', textWidth.val() + 'px');
            }
        });
        textHeight.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('height', textHeight.val() + 'px');
            }
        });
        textAlign.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('text-align', textAlign.val());
            }
        });

        $('#content_suggestions').on('click', 'li', function() {
            textContent.val($(this).text()).trigger('input');
        });

        // Image form elements
        let imageContent = $('#image_content');
        let imageRotation = $('#image_rotation');
        let imageWidth = $('#image_width');
        let imageHeight = $('#image_height');

        canvasArea.on('click', '.image-container', function() {
            // Clicked an image
            let thisElement = $(this);

            commonStuff(thisElement);

            $('#image_area_form').removeClass('display-none');
            toggleComposePanel();

            // Fill in the current content
            imageContent.val(thisElement.attr('src'));
            imageRotation.val(thisElement.css('transform'));
            imageWidth.val(thisElement.css('width').split('px')[0]);
            imageHeight.val(thisElement.css('height').split('px')[0]);
        });

        imageContent.on('input', function() {
            if (selectedContainer) {
                selectedContainer.attr('src', imageContent.val());
            }
        });
        imageRotation.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('transform', imageRotation.val());
            }
        });
        imageWidth.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('width', imageWidth.val() + 'px');
            }
        });
        imageHeight.on('input', function() {
            if (selectedContainer) {
                selectedContainer.css('height', imageHeight.val() + 'px');
            }
        })


        function commonStuff(mSelectedContainer) {
            $('.area-form').addClass('display-none');
            selectedContainer = mSelectedContainer;
        }

        function toggleComposePanel() {
            if (step4.hasClass('active')) {
                step4.click();
                step4.click();
            } else {
                step4.click();
            }
        }

        function updateRepr() {
            repr['background'] = canvasArea.css('background-image');
            // Creating the sections
            let sections = [];

            canvasArea.children().each(function() {
                // TODO: Order by top position
                let child = $(this);
                let content;
                if (child.attr('src')) {
                    content = child.attr('src');
                } else {
                    content = child.text();
                }
                sections.push({
                    'id': child.attr('id'),
                    'type': ((child.prop('tagName') === 'IMG') ? 'image' : 'text'),
                    'styles': child.attr('style'),
                    'prompt': '',
                    'selected_content': content,
                    'title': ''
                });
            });

            repr['sections'] = sections;
        }

        let TEXT_RESPONSE_URL = ''

        function ajaxGetTextOptions(target) {
            showSpinner();
            $.ajax({
                type: 'POST',
                url: 'https://ai-hackathon-371117.uc.r.appspot.com/generate',
                data: JSON.stringify(repr),
                dataType: 'text',
                contentType: 'application/json; charset=utf-8',
                success: function(e, response) {
                    console.log(response);
                    let mResponse = JSON.parse(response);
                    if (target === selectedContainer) {
                        // Show options if we're still on the same target
                        console.log('Showing options');
                        showOptions(mResponse['options']);
                    } else {
                        console.log('Skipping showing options');
                    }
                    hideSpinner();
                },
                error: function(response) {
                    console.log('Error');
                    console.log(response);
                    hideSpinner();
                }
            });
        }

        function mjson() {
            console.log(JSON.stringify(repr));
        }

        function showOptions() {

        }

    </script>
{% endblock foot %}
